**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/logs/*
**/wwwroot/uploads/*
!**/wwwroot/uploads/**/.gitkeep
**/.env*
!**/.env.example
**/*.local.json
**/*.user
**/*.suo
**/*.db
**/*.db-shm
**/*.db-wal
**/TestResults
**/node_modules
README.md
scripts/
